
<h1>About</h1>

<p>This website was made to demonstrate my full stack web development skills as part of my first portfolio.</p>
<p>The server side was written using Node.JS and features packages such as express, passport and bcrypt. It uses EJS to handle views and mongoose to connect to a
   MongoDB Atlas cluster. 
</p>
<p>The client side uses Bootstrap for responsive design</p>
<p>The site functionality includes:</p>
<ul>
  <li>Create User</li>
  <li>User log in</li>
  <li>Add items to a cart</li>
  <li>Check out (up to but not including payment)</li>
  <li>User Profile</li>
  <li>Admin login</li>
  <li>Site content management (offers and menu)</li>
</ul>

<p>To see content hidden behind the admin log in (edit offers and menu, manage orders) please contact me for log in details.</p>


