

<div class="row text-center">
    <h1>Administration</h1>
</div>


<div class="row">
    <h4 class="mb-4">Add New Offer</h4>
    <form action="/submitOffer" method="POST">
        <div class="submitOffer-form">
           <label for="strapLine">Strap Line</label>
           <input required type="text" name="strapline" id="strapline" class="form-control"> 
           
           <label for="message">Message</label>
           <textarea required name="message" id="message" class="form-control"> </textarea>

           <label for="image">Image</label>
           <input required type="text" name="image" id="image" class="form-control"> 

            <label for="expirey">Expirey</label>
           <input required type="date" name="expirey" id="expirey" class="form-control">
           
           <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </div>

    </form>
</div>






