

    <div class="container">

   
        <h1>The home of delicious fresh baked pizzas</h1>
     
      
        <%offers.foreach((strapline){ %>
            <h2><%= offers.strapline%></h2>
            <% }) %>  

    </div>

