*{
    font-family: 'Edu VIC WA NT Beginner', cursive;
}


body{
    background-image:url("/img/background.jpg");
    background-size: cover;   
}

.hero-img{
    width: 350px;
}

.strapline{

    color:rgba(60, 121, 233, 0.897);
}