<div class = "row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Sign Up</h1>
          
            <%if(hasErrors){%>
                <div class="alert alert-danger">
                    <%messages.forEach(function(messages){ %>
                        <p><%=messages%></p>
                    <%})%>
                </div>
            <%}%>
        
        <form action="/signup" method="POST">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" id="firstName" name="firstName" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" id="lastName" name="lastName" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="text" id="email" name="email" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" id="password" name="password" class="form-control" required>
            </div>
            <input type="hidden" name="_csrf" value="<%=csrfToken%>"> <!--Checks that the csrf token has been submitted correctly-->
            <button type="submit" class="btn btn-primary">Sign Up</button>            
        </form>        
    </div> 
</div>